body {
  background-color: rgb(255, 255, 255);
  font-family: helvetica;
}

header {
  text-align: center;
}

/* nav bar */


#navBar {
  max-width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


.name {
  text-align: center;
  color: rgb(115, 115, 115);
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.active {
  text-decoration-line: underline;
}

a {
  font-size: 2em;
  text-decoration: none;
  color: rgb(10, 10, 10);
  font-weight: 100;
  font-style: oblique;
}

a:hover {
  background-color: yellow;
}

/* main content */

main {
  color: rgb(144, 144, 144);
  padding-top: 5%;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

/* portfolio */

.websites {
  max-width: 50rem;
  padding: 5em;
  margin: auto;
  margin-top: 5em;
  border-bottom: 2px solid gray;
}

.websites h2 {
  color: rgb(100, 100, 100);
  text-align: center;
  font-size: 3em;
  margin: 0 0 1em;
}

.websites p {
  margin: auto;
  font-size: 1.5em;
  text-align: center;
}

.websites img {
  vertical-align: middle;
  width: 400px;
}

.right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

.left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

/* about me */

#about-me {
  font-size: 1.5em;
  margin: auto;
  text-align: center;
  width: 75%;
}

/* footer */

footer {
  position: absolute;
  bottom: 1%;
  left: 40%;
  text-align: center;
  color: rgb(119, 119, 119);
  /* padding-top: 10%; */
}

/* contact form */

.contactForm {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 20em;
}

input {
  
}

textarea {

}

form {
  
  display: flex;
  flex-direction: column;
}

/* media queries */

@media screen and (max-width: 870px) {
  #navbar {
    flex-direction: column;
  }

  .name {
    font-size: .75em;
  }
  
  a {
    font-size: 1.5em;
  }
}

  @media screen and (max-width: 360px) {
    #navbar {
      flex-direction: column;
    }

    .name {
      font-size: .5em;
    }
    
    a {
      font-size: 1.2em;
    }
  }