body {
  text-align: center;
  font-family: arial;
}

.name{
  display: block;
  text-align: center;
  font-size: 30px;
}

nav {;
  text-align: center;
}

.active {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: rgb(253, 153, 253);
  font-size: 2em;
  padding-left: 4%;
}

